@{
    ViewData["Title"] = "Home Page";
}

<div id="center" class="text-center p-3 mb-2 bg-light rounded shadow-lg p-3 mb-5 ">
    <em><h1 class="display-1">Welcome</h1></em>
    <figure>
        <blockquote class="blockquote">
            <p class="fw-bolder">
                to my Firts CRUD with
                ASP.NET Core MVC with C# + .NET 6 in SQL Server
            </p>
        </blockquote>

        <figcaption class="blockquote-footer">
            (it's not my first CRUD, <cite title="Source Title">but you know</cite>, this is the only that was well)
        </figcaption>
    </figure>
</div>

<div id="center" class="text-center p-3 mb-2 bg-light rounded shadow-lg p-3 mb-5 ">
    <figure>
        <blockquote class="blockquote">
            <em><h2>IMPORTANT</h2></em>

            <p class="fw-bolder">
                If you shrink the screen, and you can't see the menu, 
                what you should do is click on the right corner of the navigation bar, 
                there you will find a button that will display the menu.
            </p>

            <p class="fw-bolder">
                Sorry, it took me more than 2 hours to search for the bug and I couldn't find it.
            </p

            <p class="fw-bolder">
                <h3>Update</h3>
                i resolved, i guess, jjj, if you shrink the screen and you want to see the menu, just click in the white box.
            </p>
        </blockquote>
    </figure>
</div>

<div id="center" class="text-center p-3 mb-2 bg-light rounded shadow-lg p-3 mb-5 ">
    <figure>
        <blockquote class="blockquote">
            <em><h2>GUIDE</h2></em>

            <p class="fw-bolder">
                HOME = its the page that you are looking now
            </p>

            <p class="fw-bolder">
                PRIVACITY = you know, the hard things...
            </p>

            <p class="fw-bolder">
                USERS DASHBOARD = in this page you will find the actions of a CRUD <br/>
                CREATE, READ, UPDATE and DELETE
            </p>
        </blockquote>
    </figure>
</div>