@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center p-3 mb-2 bg-light rounded shadow-lg p-3 mb-5">
    <h1>@ViewData["Title"]</h1>

    <p>Read the next privacy policy Rules.</p>
</div>

<div class="text-center p-3 mb-2 bg-light rounded shadow-lg p-3 mb-5 ">
    <p class="h1">Rules of Privacity</p>
    <br />

    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light">
                <div>
                    <blockquote>
                        1 > This page is just a practice of a CRUD, not a SCAM PAGE, dont put money here.
                    </blockquote>
                </div>
            </li>

            <li class="list-group-item bg-light">
                <div>
                    <blockquote>
                        2 > The Background that you look now, i know, it look really good, but i dont did, if you want it, just go to this link:
                        <br /><br />

                        <a id="a" href="https://codepen.io/quasimondo/pen/AZedgK" target="_blank">
                            <button type="button" class="btn btn-outline-info fw-bold">
                                Animated Background Gradient
                            </button>
                        </a>

                    </blockquote>
                </div>
            </li>
        </ul>
    </div>
</div>